* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    height: 100px;
}

nav {
    float: left;
    width: 20%;
    height: 100vh;
    background-color: darkgrey;
    padding: 10px;
    display: fixed;
}

nav ul {
    list-style-type: none;
    padding: 10px;
}

article {
    float: left;
    padding: 10px;
    width: 70%;
    height: 400px;
    background-color: white;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

article p, article img {
    display: inline-block;
    width: 49%;
}

footer {
    background-color: grey;
    padding: 10px;
    color: white;
    text-align: center;
}

nav {
    /*position: fixed; /* Para fijar la barra lateral */
    top: 100px; /* La barra lateral estará fija en la parte superior */
    left: 0; /* La barra lateral estará fija en el lado izquierdo */
    width: 20%; /* Ancho del 20% del viewport */
    height: 1200px;
    background-color: darkgrey;
    padding: 10px;
    overflow-y: auto; /* Añadir scroll si el contenido es más largo que la altura */
    z-index: 1000; /* Ajustar el índice z para asegurar que esté por encima del contenido */
}

nav ul {
    list-style-type: none;
    padding: 0; /* Eliminar el padding por defecto */
    margin: 0; /* Eliminar el margen por defecto */
}

/* Estilo para los elementos de la lista dentro de la barra lateral */
nav ul li {
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
}

/* Estilo para los enlaces dentro de la lista */
nav ul li a {
    text-decoration: none; /* Quitar subrayado de los enlaces */
    color: white; /* Color del texto */
    display: block; /* Hacer que los enlaces ocupen todo el ancho */
    padding: 8px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

/* Cambiar color de fondo al pasar el ratón por encima de los enlaces */
nav ul li a:hover {
    background-color: #333; /* Color de fondo al pasar el ratón */
}

footer a {
    text-decoration: none; /* Quitar subrayado de los enlaces */
    color: white; /* Color del texto */
    display: inline; 
    padding: 8px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
}

footer a:hover {
    background-color: #333; /* Color de fondo al pasar el ratón */
}

@media (max-width: 768px) {
    nav, article {
      width: 100%;
      height: auto;
    }
    article img {
      display: block;
    }
  }



/* Aplicar estilos específicos para pantallas de PC usando @media query */
@media (min-width: 768px) {
    .menu {
        margin-right: 20px; /* Ajustar el espacio entre elementos */
        width: 100%;
        height: auto;
    }
    .menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
    }
    .menu ul li {
        margin-bottom: 10px;
    }
}