.header3-articulo1 {
    background-color: darkolivegreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p-articulo1 {
    background-color: darkolivegreen;
}

.header3-articulo2 {
    background-color: darkkhaki;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p-articulo2 {
    background-color: darkolivegreen;
}