.header3-articulo1 {
    background-color: darkolivegreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.p-articulo1 {
    background-color: darkolivegreen;
}

.img-articulo1 {
    background-color: darkolivegreen;
}

/* El unico que prevalece es este de abajo, el fondo-total-articulo. Los demás
solo añaden estilo a cosas concretas, como el titulo, el parrafo, o la imagen.
Este de aqui lo engloba todo.  */

.fondo-total-articulo1 {
    background-color: darkolivegreen;
}

.header3-articulo2 {
    background-color: darkkhaki;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.p-articulo2 {
    background-color: darkkhaki;
}

.img-articulo2 {
    background-color: darkkhaki;
}

/* El unico que prevalece es este de abajo, el fondo-total-articulo. Los demás
solo añaden estilo a cosas concretas, como el titulo, el parrafo, o la imagen.
Este de aqui lo engloba todo.  */
.fondo-total-articulo2 {
    background-color: darkkhaki;
}
a:hover {
    color: #007bff;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: red;
    background-color: #FAFF80;
    text-decoration: underline;
  }